.box{
    height: 100px;
    width: 100px;

}

.one{
    background-color: red;
}

.two{
    background-color: orange;
}

.three{
    background-color: green;
}

.main{
    height: 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}